/* Style the main content */
.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.main h2 {
    margin: 0;
    /* text-decoration: underline; */
}

.main-content {
    width: 70%;
    margin: 2rem;
    padding: 15px;
    /* justify-content: flex-start; */
    border: 2px solid #000;
    border-radius: 14px;
    background-color: #eee;
    /* transform: scale(1) */
    /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
}


.main-side {
    width: 30%;
    margin: 2rem;
    padding: 15px;
    background-color: #eee;
    border: 1px solid #000;
    border-radius: 14px;
}

.main-side .link{
    text-decoration: none;
    color: black;
    
}

.highlight__text:hover{
    transform: scale(1.03);
}

.highlight__text {
    border: 1px solid #000;
    border-radius: 14px;
    display: block;
    font-size: 16px;
    padding: 1rem;
    font-weight: bold;
}

.main-side button {
    border: 2px solid #d319d3 ;
    color: #000;
    background-color: #d319d3;
    border-radius: 5px;
    margin-left: 100px;
    padding: 10px;
    text-align: center;
}

.main-side button:hover {
    border: 2px solid #81E04F;
    color: #000;
    background-color: #81E04F;
    border-radius: 5px;  
}
    